.header {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  height: 150px;
  line-height: 150px;
  background-color: rgb(33, 156, 94);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
}
.body {
  background-color: rgb(44, 206, 125);
}
.t1 {
  vertical-align: middle;
  font-family: Verdana;
  font-size: 60px;
  color: white;
  text-align: center;
  vertical-align: 50%;
}
.block {
  text-align: justify;
  font-family: Verdana;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
  padding: 10px;
  background-color: rgb(33, 156, 94);
}
.container {
  width: 80vw;
  margin: 20px auto 0 auto;
  background-color: rgba(255,255,255,0.5);
  
  padding: 20px;
  border-radius: 10px;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
.clear {
  clear:both;
}
.title {
  text-align: center;
  color: #ffffff;
  margin: 40px 0 0 0;
	text-transform: uppercase;
}
.subtitle {
  text-align: center;
  color: green;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  float: left;
  list-style-type: none;
  margin: .5em;
}
ul a {
  display: block;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  color: green;
  font-weight: verdana;
  text-transform: uppercase;
  padding: .25em .5em;
  background-color: #ffffff;
	border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.img {
  text-align: center;
}
.txt {
  vertical-align: middle;
  font-family: Verdana;
  font-size: 30px;
  color: white;
  text-align: center;
  vertical-align: 50%;
}
.p {
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}